<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>WYUR - {% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/css/main.css" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
		  _gaq.push(['_setDomainName', '{{ google_analytics_domain }}']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </head>
    <body>
        <div id="container">
			<div id="header">
				<a href="{{ path('homepage') }}"><img src="/images/logo.png" alt="logo" /></a>
				<ul>
					<li><a href="{{ path('about') }}">About</a></li>
					<li><a href="{{ path('wyur_shows_default_schedule') }}">Schedule</a></li>
					<li><a href="{{ path('wyur_shows_default_schedulelist') }}">Shows</a></li>
					<li><a href="javascript:void(0);" onclick="openPlayer('{{ path('listen') }}')">Listen</a></li>
				</ul>
			</div>
			<div id="main">
				{% block body %}{% endblock %}
			</div>
		</div>
		
		<script type="text/javascript" src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
