{% extends '::base.html.twig' %}

{% block title %}Show Schedule{% endblock %}

{% block body %}
	<h1>Schedule</h1>
	<table id="schedule">
		<tr>
			<th id="corner"></th>
			{% for day in days %}
				<th id="day">{{ day.name }}</th>
			{% endfor %}
		</tr>
    {% for hour in hours %}
		<tr>
			<th id="time">{{ hour.name }}</th>
			{% for slot in hour.slots %}
				{% if slot.show == null %}
					<td></td>
				{% else %}
					<td>
						<a href="{{ path('wyur_shows_default_show', {'slug': slot.show.slug}) }}">
							{% if slot.show.imageFile %}
								<img src="{{ vich_uploader_asset(slot.show, 'show_image') }}" alt="{{ slot.show.name }} image" />
							{% else %}
								<img src="/images/showDefault.png" alt="{{ slot.show.name }} image" />
							{% endif %}
							{{ slot.show.name }}
						</a>
					</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}