{% extends '::base.html.twig' %}

{# JS/CSS for SoundCloud widget. Need two ifs because of how twig compiles templates #}
{% block stylesheets %}
	{% if show.soundCloudID %}
		<link rel="stylesheet" href="/vendor/soundcloud/css/sc-player-standard.css" type="text/css">
		<link rel="stylesheet" href="/vendor/soundcloud/css/sc-player.css" type="text/css">
		<link rel="stylesheet" href="/css/soundcloud.css" type="text/css">
	{% endif %}
{% endblock %}
{% block javascripts %}
	{% if show.soundCloudID %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/vendor/soundcloud/js/soundcloud.player.api.js"></script>
		<script type="text/javascript" src="/vendor/soundcloud/js/sc-player.js"></script>
	{% endif %}
{% endblock %}

{% block title %}{{ show.name }}{% endblock %}

{% block body %}
	<h1>{{ show.name }}</h1>
	<div id="showMain">
		<div id="showTop">
			{% if show.imageFile %}
				<img src="{{ vich_uploader_asset(show, 'show_image') }}" alt="{{ show.name }} image" />
			{% else %}
				<img src="/images/showDefault.png" alt="{{ show.name }} image" />
			{% endif %}
			
			{% if show.hosts %}
				<strong>Hosted by</strong>
				{{ show.hosts }}
			{% endif %}
			
			{% if show.slot %}
				<strong>Airtime</strong>
				{{ show.slot }}
			{% endif %}
			
			{% if show.site or show.podcast or show.twitter or show.facebook %}
				<strong>Links</strong>
				{% if show.site %}<a href="{{ show.site }}" target="_blank">Site</a>,{% endif %}
				{% if show.podcast %}<a href="{{ show.podcast }}" target="_blank">Podcast</a>,{% endif %}
				{% if show.twitter %}<a href="{{ show.twitter }}" target="_blank">Twitter</a>,{% endif %}
				{% if show.facebook %}<a href="{{ show.facebook }}" target="_blank">Facebook</a>{% endif %}
			{% endif %}
			<div class="clear"></div>
		</div>
		{% if show.description %}
			<div id="showDescription">
				{{ show.description|bbcode_filter('main_filter') }}
				<div class="clear"></div>
			</div>
		{% endif %}
		{% if show.soundCloudID %}
			<div id="showPlayer">
				<strong>Previous episodes</strong>
				<a href="http://soundcloud.com/{{ show.soundCloudID }}" class="sc-player">My latest tracks</a>
				<div class="clear"></div>
			</div>
		{% endif %}
	</div>
{% endblock %}
